<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
      <label>Category</label>
      <select class="form-control form-control-lg" id="idCat" name="idCat"
              [(ngModel)]="IdCategorie" (change)="onChange()">
        <option *ngFor="let cat of categories" [value]="cat.idCat">
          {{ cat.nomCat }}
        </option>
      </select>
    </div>
  
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Date</th>
              <th>Category</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of contact">
              <td>{{ p.id }}</td>
              <td>{{ p.name }}</td>
              <td>{{ p.email }}</td>
              <td>{{ p.date | date: 'dd/MM/yyyy' }}</td>
              <td>{{ p.categorie.nomCat }}</td>
              <td>
                <button class="btn btn-danger" (click)="deletecontact(p)">Delete</button>
              </td>
              <td>
                <a class="btn btn-success" [routerLink]="['/updatecontact', p.id]">Update</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  