<div class="container">
  <div>
    <h2>Update Contact:</h2>
  </div>
  <form (ngSubmit)="updateContact()">
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>ID</label>
      <input type="text" readonly [(ngModel)]="curcontact.id" name="id" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Name</label>
      <input type="text" [(ngModel)]="curcontact.name" name="name" class="form-control" required minlength="3">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Email</label>
      <input type="email" [(ngModel)]="curcontact.email" name="email" class="form-control" required>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date</label>
      <input type="date" [ngModel]="curcontact.date | date: 'yyyy-MM-dd'" (ngModelChange)="curcontact.date = $event" name="date" class="form-control" required>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="updatedCatId" required>
        <option value="" disabled>Select a category</option>
        <option *ngFor="let cat of categories" [value]="cat.idCat">
          {{ cat.nomCat }}
        </option>
      </select>
    </div>
    <div class="mt-2">
      <button type="submit" class="btn btn-success">Update</button>
    </div>
  </form>
</div>
